.navbar-collapse{
    justify-content: flex-end;
}
nav{
    background-color:#030713;
    color:white;
    height: 136px;
    width:100vw;
}
.navbar-toggler{
    background-color: #E6BE4A !important;
}
.nav-link{
    color:#E6BE4A !important;
}
.carousel-item{
    background-color:black;
    height: 100vh;
}
.d-block{
    opacity:0.2;
    height:100vh;
}
.carousel-caption{
    top:50%;
}
section.register-form{
    background-color:black;
    color:#E6BE4A;
}
footer{
    background-color:#030713;
    color:#E6BE4A;
}
#btn-register{
    background-color:black;
    border:1px solid #E6BE4A;
    color: #E6BE4A;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

.time {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #E6BE4A;
  
}
  .time::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 30px;
    padding-left:26px;
    height: 1.25em;
    width: 1.25em;
    background-color: #34435E;
    text-align: center;
    line-height: 0em;
    color: #ffffff;
    font-size: 1em;
  }

.time:nth-child(odd) {
    text-align: right;
    border-right: 3px solid;
    padding-right: 37px !important;
    padding-left: 0px !important;
    font-weight: 700;
    font-size: 20px;
}
  .time:nth-child(odd)::before {
    left: 100%; 
    margin-left: -20px;
  }

.time:nth-child(even) {
    text-align: left;
    border-left: 3px solid;
    padding-right: 20px !important;
    padding-left: 37px !important;
    font-weight: 700;
    font-size: 20px;
}
  .time:nth-child(even):before {
    right: 100%; 
    margin-right: -20px;
  }

.time:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.time:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.register-btnn{
    background-color: black;
    color: #E6BE4A;
    border: 2px solid #E6BE4A;
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
}
.register-btnn:hover{
    background-color: #E6BE4A;
    color: black;
    border: 2px solid black;
    padding:10px;
    border-radius:10px;
}
@media (min-width:768px){
    .idea-points{
        font-size:20px;
    }
    .navbar.fixed-top{
        padding-left:100px !important;
        padding-right: 100px !important;
    }
    #ABOUT{
        padding:100px;
        padding-top:150px;
    }
    .register-p{
        font-size:25px;
        font-weight: 700;
        color:#E6BE4A;
    }
    .mobile.carousel-inner{
        display: none;
    }
    .carousel-inner{
        display:block;
    }
    #carouselExampleIndicators{
        display:block;
    }
}
@media (max-width:768px){
    .idea-points{
        font-size:15px;
        padding:10px 28px 10px 28px !important;
    }
    .navbar.fixed-top{
        padding-left:30px !important;
        padding-right: 30px !important;
    }
    .mobile.carousel-inner{
        display: block;
    }
    .carousel-inner{
        display:none;
    }
    #carouselExampleIndicators{
        display:none;
    }
    .logo1{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .navbar{
        flex-wrap: nowrap !important;
    }
    .navbar-collapse{
        background-color:black;
    }
    .register-img{
        width:100vw;
    }
    .register-p{
        font-size:25px;
        font-weight: 700;
        color:#E6BE4A;
    }
}
