
<nav class="navbar fixed-top navbar-expand-sm navbar-light">
    <a class="navbar-brand logo1" href="/"><img src="{{url_for('static', filename='img/logo2.png')}}" width=300 class="logo-main"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/#ABOUT">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#TIMELINE">TIMELINE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#PRIZES">PRIZES</a>
        </li>
      </ul>
    </div>
  </nav>