{% extends "layout/base.html" %}

{% block title %} Ideathon'22 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.reg-form{
    border:2px solid #E6BE4A;
    width:50%;
    margin:0 auto;
    margin-top:156px;
    padding:20px;
}
.container.form{
    background-color:black;
}
</style>
{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %} 
<section class="register-form">
    <div class="container form">
    <div class="row reg-form">
    <h1 style=" text-align:center;font-weight:800;">Register Your team members <i class="fas fa-user"></i></h1>
        <form id="register-form" style="margin-bottom:45px;">
        <input type="text" class="form-control"id="member" style="display:none;"value="{{members|int}}">
        {% for i in range(1, members|int+1) %}
            <div class="mb-3">
                <label for="Name" class="form-label">Team Member {{i}} Name</label>
                <input type="text" class="form-control" id="tlname{{i-1}}" required>
            </div>
            <div class="mb-3">
              <label for="Email" class="form-label">Team Member {{i}} Email address</label>
              <input type="email" class="form-control" id="tlemail{{i-1}}" required>
            </div>
            <div class="mb-3">
                <label for="Phone" class="form-label">Team Member {{i}} Phone number</label>
                <input type="phone" class="form-control" id="tlphone{{i-1}}" required>
            </div>
           {% endfor %}
            
            
            <span style="width:100%;"><button type="submit" class="btn" id="btn-register">Submit</button></span>
          </form>
    </div>
  </div>
</section>
<script>

$(document).on('click', '#btn-register', function(e){
    e.preventDefault();
    var form = $('#register-form');
    member=$('#member').val();
    jsondata={"members":member};
    for (let i = 0; i < member; i++) {
        jsondata['member_name'+i]= $('#tlname'+i).val();
        jsondata['member_email'+i]= $('#tlemail'+i).val();
        jsondata['member_phone'+i]= $('#tlphone'+i).val();
    }
    console.log(jsondata);
    
    // disabled the submit button
    $("#btn-register").prop("disabled", true);
    $.ajax({
      type: "POST",
      data: jsondata,
      url:"/add-teamates",
      dataType: "json",
        complete: function(resp){
          $("#btn-register").prop("disabled", false); 
          alert(resp.responseText);
          // enabled the submit button
        }
      });
});
</script>
{% endblock content %} 